USE [master]
GO
/****** Object:  Database [STATUSWEB]    Script Date: 06/06/2023 12:12:16 ******/
CREATE DATABASE [STATUSWEB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'STATUS_WEB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\STATUS_WEB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'STATUS_WEB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\STATUS_WEB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [STATUSWEB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [STATUSWEB]
GO
/****** Object:  Table [dbo].[DAILY]    Script Date: 06/06/2023 12:12:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DAILY](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Fecha] [date] NULL,
	[Score] [int] NULL,
	[Words] [varchar](777) NULL,
	[Helped] [bit] NULL,
	[IdUser] [int] NULL,
 CONSTRAINT [PK_DAILY] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USERS]    Script Date: 06/06/2023 12:12:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USERS](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[email] [varchar](50) NULL,
	[pass] [varchar](50) NULL,
	[admin] [bit] NULL
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[DAILY] ON 

INSERT [dbo].[DAILY] ([Id], [Fecha], [Score], [Words], [Helped], [IdUser]) VALUES (2, CAST(N'2023-04-18' AS Date), 7, N'Nice', 1, 1)
INSERT [dbo].[DAILY] ([Id], [Fecha], [Score], [Words], [Helped], [IdUser]) VALUES (3, CAST(N'2023-04-19' AS Date), 6, N'chill', 0, 1)
INSERT [dbo].[DAILY] ([Id], [Fecha], [Score], [Words], [Helped], [IdUser]) VALUES (6, CAST(N'2023-04-07' AS Date), 5, N'haha', 0, 1)
SET IDENTITY_INSERT [dbo].[DAILY] OFF
GO
SET IDENTITY_INSERT [dbo].[USERS] ON 

INSERT [dbo].[USERS] ([id], [email], [pass], [admin]) VALUES (1, N'admin@admin.com', N'adminpass', 1)
INSERT [dbo].[USERS] ([id], [email], [pass], [admin]) VALUES (2, N'user@user.com', N'userpass', 0)
INSERT [dbo].[USERS] ([id], [email], [pass], [admin]) VALUES (3, N'uli@uli.com', N'uli', 0)
SET IDENTITY_INSERT [dbo].[USERS] OFF
GO
/****** Object:  StoredProcedure [dbo].[insertarNuevoUsuario]    Script Date: 06/06/2023 12:12:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create procedure [dbo].[insertarNuevoUsuario] 
@email varchar(50),
@pass varchar(50)
as
insert into USERS (email,pass,admin) output inserted.id values (@email,@pass,0)
GO
/****** Object:  StoredProcedure [dbo].[storedEliminar]    Script Date: 06/06/2023 12:12:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[storedEliminar] 
@Id int
as delete from DAILY where Id = @Id
GO
USE [master]
GO
